.body {
    -fx-background-color: silver;
}

.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

#header {
}

#footer {
}

.avatar {
    -fx-image: url('../image/user.png');
}

.message_box {
    -fx-background-radius: 5px;
    -fx-background-color: white;
}

#type_box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}